<div class="container">
    <mat-card class="bord">
        <h1>LOGIN</h1>
        <mat-card-header>
            <!-- <label for="name">UserName : </label>
            <input type="text" [(ngModel)]="firstname" id="name"><br> -->
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput [(ngModel)]="username">
            </mat-form-field>
        </mat-card-header>
        <mat-card-header>
            <!-- <label for="pswd">Password : </label>
                <input matInput [(ngModel)]="password">
            <input type="password" [(ngModel)]="password" id="pswd"><br> -->
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="password">
            </mat-form-field>
        </mat-card-header>
        <mat-card-header>
            <button mat-raised-button (click)="setUserData()">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button (click)="getRegister()">Register</button>
        </mat-card-header>
    </mat-card>
</div>
